/*#region General */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#box-camera {
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#box-camera .canvas {
    position: absolute;
    z-index: 50;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
}

#box-camera #camera--canvas {
    display: none;
}

#box-camera #svgMask {
    position: absolute;
    bottom: 0;
}

#box-camera #camera--video,
#box-camera #camera--canvas {
    transform: scaleX(-1);
    filter: FlipH;
    width: 100%;
    height: 100%;
}

#box-camera #camera--overlay {
    transform: scaleX(-1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#box-camera #camera--trigger {
    width: 60px;
    height: 60px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

#box-camera .svg-button-camera {
    width: 200px;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 154px;
    left: calc(50% - 100px);
    z-index: 10;
    padding: 5px 60px;
    cursor: pointer;
}

#box-camera audio,
#box-camera canvas,
#box-camera video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

#box-camera #message {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    z-index: 61;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    background-color: rgba(41, 128, 255, 1);
    color: #fff;
}

#box-camera #box--document-info {
    position: absolute;
    left: 0;
    background-color: #fff;
    bottom: 0;
    z-index: 9;
}

#box-camera #box--document-info #label--document {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
}

#box-camera #svgMask .cls-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#box-camera #svgMask .cls-text-medium {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#box-camera #svgMask .cls-text-big {
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
}


/*#region Video IOS controls */

#box-camera *::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera *::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera *::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

/*#region Popup Completed */
        
#box--completed {
    display: inline-block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#box--completed .box-in {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
}

#box--completed .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

#box--completed .success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid rgba(41, 128, 255, 1);
}

#box--completed .success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

#box--completed .success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

#box--completed .success-checkmark .check-icon::before,
#box--completed .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background-color: transparent;
    transform: rotate(-45deg);
}

#box--completed .success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: rgba(41, 128, 255, 1);
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

#box--completed .success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

#box--completed .success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

#box--completed .success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(41, 128, 255, 1);
}

#box--completed .success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: transparent;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
/*#endregion */
/*#region Popup Suport */

#box--support {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 63;
    left: 0;
    top: 0;
}

#box--support .box-in {
    width: 100%;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
}

#box--support .suport-browsers {
    text-align: center;
    margin: 0;
    padding: 0;
}

#box--support .suport-browsers .li-android {
    display: inline-block;
}

#box--support .suport-browsers .li-ios {
    display: inline-block;
}

#box--support .suport-browsers li {
    display: inline-block;
}

#box--support .suport-browsers li img {
    width: 40px;
    height: 40px;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#box--support .suport-browsers li.no-grayscale img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#box--support .text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin-bottom: 20px;
}
/*#endregion */
/*#region Popup loading models */

#box--loading-models {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: transparent;
    z-index: 62;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

#box--loading-models .box-in {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
}

#box--loading-models .loader,
#box--loading-models .loader:after {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    position: relative;
    z-index: 10;
}

#box--loading-models .loader {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid rgba(255, 255, 255, 0.0);
    border-right: 4px solid rgba(255, 255, 255, 0.0);
    border-bottom: 4px solid rgba(255, 255, 255, 0.0);
    border-left: 4px solid rgba(41, 128, 255, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load9 1.5s infinite linear;
    animation: load9 1.5s infinite linear;
}

@-webkit-keyframes load9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*#endregion */
/*#region Popup error */

#box--error {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: transparent;
    z-index: 62;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

#box--error .box-in {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    text-align: center;
}

#box--loading-models .loader,
#box--loading-models .loader:after {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    position: relative;
    z-index: 10;
}

#box--loading-models .text {
    margin: 0px auto;
    text-align: center;
}
/*#endregion */