/*#region General */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#box-camera {
    position: fixed;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#box-camera .canvas {
    position: absolute;
    z-index: 50;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
}

#box-camera #camera--canvas {
    display: none;
}

#box-camera #svgMask {
    position: absolute;
    bottom: 0;
}

#box-camera #camera--video,
#box-camera #camera--canvas {
    transform: scaleX(-1);
    filter: FlipH;
    width: 100%;
    height: 100%;
}

#box-camera #camera--overlay {
    transform: scaleX(-1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#box-camera #camera--trigger {
    width: 60px;
    height: 60px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

#box-camera .svg-button-camera {
    width: 200px;
    color: white;
    font-size: 16px;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 154px;
    left: calc(50% - 100px);
    z-index: 10;
    padding: 5px 60px;
    cursor: pointer;
}

#box-camera audio,
#box-camera canvas,
#box-camera video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

#box-camera #message {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    z-index: 61;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    background-color: rgba(41, 128, 255, 1);
    color: #fff;
}

#box-camera #box--document-info {
    position: absolute;
    left: 0;
    background-color: #fff;
    bottom: 0;
    z-index: 9;
}

#box-camera #box--document-info #label--document {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
}

#box-camera #svgMask .cls-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#box-camera #svgMask .cls-text-medium {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#box-camera #svgMask .cls-text-big {
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
}


/*#region Video IOS controls */

#box-camera *::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera *::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera *::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

#box-camera video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

/*#region Message Label */

#box-camera #message {
    background-color: rgba(41, 128, 255, 1) !important;
    border-radius: 2px;
    color: #fff !important;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}


/*#endregion */


/*#region Label Document */

#box-camera #box--document-info #label--document {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/*#endregion */